<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627853917155-nalcktgk7kh0mnpjjupmnsrodrh6afdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627853917155-nalcktgk7kh0mnpjjupmnsrodrh6afdi</string>
	<key>API_KEY</key>
	<string>AIzaSyBwYE2M0PfriYJb3AuGJM-dsP9g8w6udyM</string>
	<key>GCM_SENDER_ID</key>
	<string>627853917155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amitinbar.pushDemo</string>
	<key>PROJECT_ID</key>
	<string>pushdemo-76d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>pushdemo-76d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:627853917155:ios:fccb5b1415cebd4e</string>
	<key>DATABASE_URL</key>
	<string>https://pushdemo-76d8a.firebaseio.com</string>
</dict>
</plist>